body {
    background-image: url("../img/food_chalkboard.jpg");
    color: white;
    font-family: 'Permanent Marker', cursive;
}

 /* background-color: rgb(202, 69, 69);  */

.logo {
    font-size: 130px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.logo:hover {
    color: rgb(201, 100, 100);
}

.container {
    text-align: center;
    /* width: 700px;
    height: 700px; */
}

.jumbotron-background {
    background-color: rgb(53, 49, 49);
}

.form1 {
    margin: 0 auto;
}

.lead {
    font-size: 35px;
}

.miles {
    font-size: 30px;
}