body {
    background-image: url("../img/food_chalkboard.jpg");
    color: white;
    font-family: 'Permanent Marker', cursive;
}

 /* background-color: rgb(202, 69, 69);  */

.logo {
    font-size: 130px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.logo:hover {
    color: rgb(201, 100, 100);
}

.slogan {
  font-size: 50px;
  text-decoration: underline;
}

.container {
    text-align: center;
    /* width: 700px;
    height: 700px; */
}

.jumbotron-background {
    background-color: rgb(53, 49, 49);
}

.form1 {
    margin: 0 auto;
}

.lead {
    font-size: 35px;
}

.results {
    font-size: 22px;
}

.star{
    color: rgb(7, 173, 21);
    font-size: 30px;
    padding: 0 5px; /* space out the stars */
  }
  .star::before{
    content: '\2666';
    cursor: pointer;
    color:goldenrod;
  }
  .star.rated::before{
    content: '\FF04';
    color: rgb(7, 173, 21);
  }
  
.chalk-border {
  border: 25px solid rgba(255,255,255,.8);
  border-image: url("https://www.unicefusa.org/sites/default/files/answer-box.png") 20;
}
  
.chalk-border:before {
  content: "";
}

.wordResults {
  padding-top: 20px;
  font-size: 40px;
}

.explanation {
  font-size: 22px;
}